<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Strona Główna</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="strona_główna.html">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#author">O autorze</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ekstracja.html">Ekstrakcja opinii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lista.html">Lista Produktów</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="project" id="project">
        <div class="project_header">
            <h1>O projekcie</h1>
        </div>
        <div class="project_info">
            <h4>Cel aplikacji</h4>
            <p>Celem aplikacji jest pobranie opini o produkcie, a następnie przedstawienie jego zalet, wady oraz średnią ocenę</p>
            <h4>Opis działania aplikacji</h4>
            <p>Aplikacja dla kodu podanego przez użytkownika, wyszukuje porządany produkt, a nstępnie wyświetle infomacje o tym produkcie</p>
            <h4>Zastosowane biblioteki</h4>
            <p>BeautifulSoup4, Requirements, Pandas</p> 
            <h4>Zastosowane podejścia</h4>
            <p>Aplikacja stworzona jest w sposób obiektowy oraz z użyciem frameworka Flask</p>
        </div>
    </div>
    <div class="author" id="author">
        <div class="auhor_header">
            <h1>O autorze</h1>
        </div>
        <div class="author_info">
            <h4>Dane podstawowe</h4>
            <p>Imię i nazwisko: Julia Mieszaniec</p>
            <p>Kierunek studiów: Informatyka Stosowana</p>
            <p>Rok studiów: I rok</p>
            <p>Uczelnia wyższa:Uniersytet Ekonominy w Krakowie</p>
            <h4>Co zdecydowało o wyborze właśnie tego kierunku?</h4>
            <p>Wybrałam ten kierunek ponieważ uważam, że jest bardzo prszyszłościowy.
                Co więcej, ten kierunek otwiera dużo możliwości. 
                Można po nim pójść w wiele stron, nie koniecznie związanych z informatyką. 
                Nie można również nie wspomnieć o tym, że obecnie branża IT jest najlepiej płatna i jest ciągły niedobór informatyków.
                Po takim kierunku z pewnością znajdziemy pracę.</p>

            <h4>Jakie są moje oczekiwania dotyczące studiów?</h4>
            <ul>
                <li>Poznać świetnych ludzi.</li>
                <li>Skorzystać z możliwości które daje uniwersytet jak: wymiany, kursy, koła naukowe.</li>
                <li>Rozwinąć umiejętności miękkię i twardę.</li>
                <li>Znaleść kierunek w, którym chciałabym przyszłości podążać.</li>
                <li>Zaznać studenckiego życia.</li>
            </ul>
            <h4>Dotychczasowe osiągnięcia</h4>
            <ol>
                <li>Dostanie się i uczestnictwo w projekcie międzynarodowym w Czechach, o tematyce instutucji EU.</li>
                <li>Zrobienie prawo jazdy.</li>
                <li>Dostanie się na wymarzony kierunek studiów.</li>
                <li>Bycie członkiem KNRO(Koła naukowego rozwoju osobistego) oraz ESN(Erasums student network).</li>
                <li>Dobre wyniki egzaminów maturalnych.</li>
            </ol>
            <h4>Plany zawodowe</h4>
            <p>Swoją przyszszłość zawodową wiąże z branżą IT, a konkretnie z Data Science. 
                Od jakiegość czasu zainteresowałam się tym pojęciem i bardzo mnie zaciekawiło połączenie  programowania z analizą danych.
                Data Science jest nową dziedziną i wymaga szerokiej więdzy z zakresu programowania, matematyki, ekonmetrii czy staystyki.
                Obecnie na rynku nie ma zbyt wielu specjalistów z tej dziedziny. Z pewnością jest to zawód pożadany i przyszłościowy.
                Myślę, że bardzo spodobałaby mi sie praca właśnie w tym sektorze, a w jakim zawodzie ostatecznie skończę to pokaże czas.</p>

            <ul>
                <li>Data Science</li>
                <li>Podróżowanie</li>
                <li>Rozwój osobisty</li>
                <li>Siłownia</li>
                <li>Filmy i seriale</li>
            </ul>
        </div>
    </div>
</body>
</html>